.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .ant-input.custom-input {
    border: none;
    border-bottom: 1px solid #d9d9d9;
    border-radius: 0;
    box-shadow: none;
    outline: none;
  }
  .ant-form-item-control {
    margin-bottom: 16px !important; 
  }

  .ant-input.custom-input:focus {
    box-shadow: none;
  }

  .ant-form-item-row.custom-input {
    margin-bottom: 35px;
  }

  .custom-input::placeholder {
    font-size: 20px; 
    color: rgba(0, 0, 0, 0.5);
  }

  .ant-btn-primary {
    box-shadow: none !important;
  }

  .ant-input-outlined.ant-input-status-error.custom-input {
    border: none;
    background-color: transparent !important;
    color: inherit;
    box-shadow: none; 
  }
  
  .ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    border-color: none !important; 
    border-bottom:1px solid #ff4d4f;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    box-shadow: none !important;
  }
  
  .ant-input-outlined.ant-input-status-error.custom-input:focus {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    background-color: transparent !important; 
  }

  .header-layout {
    position: sticky;
    top: 0; 
    z-index: 1000; 
  }

  .green-color {
    filter: invert(9%) sepia(79%) saturate(5556%) hue-rotate(178deg) brightness(90%) contrast(99%);
  }